.division1 {
  float: right;
  max-height: 150px;
  max-width: fit-content;
}

.division-Login {
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  background-image: linear-gradient(purple, pink);
}

.division-text {
  align-items: center;
  flex-direction: column;
  position: relative;
}

.division-input {
  align-items: center;
}

.description-input {
  margin: 0 5px 0 0;
  width: 25px !important;
  height: 25px;
  padding: 5px;
  border: chocolate;
  border-radius: 15px;
}

.input-text {
  padding: 0 31px 0 5px;
  margin: 5px 0;
  background-color: white !important;
  border-color: #b3b3cc !important;
  color: black !important;
  border-radius: 5px;
}

.input-text:active :hover {
  border-color: white !important;
  background-color: #b3b3cc !important;
}

.btn-clear-text {
  position: absolute;
  right: 5px;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  align-items: center;
  padding: 0;
  z-index: 9999;
  color: black;
}

#btnLogin {
  margin: 14px;
  font-size: 29px;
  font-weight: 600;
  width: max-content;
  align-items: center;
  padding: 14px;
}

.nav-class {
  width: max-content;
  margin-left: 25px;
}

.nav-link:hover {
  color: white !important;
}

.check-box-login {
  padding: 0 1rem;

}