.body-notfound {
    padding-right: 205px;
    height: 100vh;
    text-align: center;
    flex-direction: row;
    margin: auto;

}

.paragraph-not-found {
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-1 {
    display: flex;
    flex: 1;
}

.robot-error {
    width: fit-content;
    align-self: flex-end;
}