.input-focus-effect {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.input-focus-effect input {
    padding: 2.5rem 1rem 1rem;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: border 0.25s linear;
    background-color: transparent;
    border-color: #2979ff;
    outline: none;
    margin: 5px 0;
}


.input-focus-effect input:focus+label,
.input-focus-effect input:not(:placeholder-shown)+label {
    transform: translateY(-5px);
    top: 1rem;
}

.input-focus-effect label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #2979ff;
    transition: 0.25s linear;
    font-size: 1rem;
}

.radio-input {
    display: none;
}

.radio-label {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #eee;
    display: inline-block;
    cursor: pointer;
    margin: 0 1rem;
    box-shadow: 0 0 0 4px #eee;
    transition: all 0.25s linear;
}

.radio-input:checked+.radio-label {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #fd656b;
    background-color: #fd656b;
}

.input-radio {
    margin: 5px 0;
}