.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex1 {
  display: flex;
  flex: 1;
}

.flex2 {
  display: flex;
  flex: 2;
}

.flex3 {
  display: flex;
  flex: 3;
}

.flex4 {
  display: flex;
  flex: 4;
}

.flex5 {
  display: flex;
  flex: 5;
}

.flex6 {
  display: flex;
  flex: 6;
}

.flex7 {
  display: flex;
  flex: 7;
}

.flex8 {
  display: flex;
  flex: 8;
}

.flex9 {
  display: flex;
  flex: 9;
}

.flex10 {
  display: flex;
  flex: 10;
}

.collumn-direction {
  flex-direction: column;
}

.row-direction {
  flex-direction: row;
}